
SimpleTable/SimpleTable.xcodeproj/project.xcworkspace/xcuserdata/keresztesitekla.xcuserdatad/UserInterfaceState.xcuserstate

SimpleTable/SimpleTable.xcodeproj/project.xcworkspace/xcshareddata/SimpleTable.xccheckout
